@model CLINICA_CRUD.Models.RegistroMedico

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RegistroMedico</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdPaciente" class="control-label"></label>
                <input asp-for="IdPaciente" class="form-control" />
                <span asp-validation-for="IdPaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdDiscapacidad" class="control-label"></label>
                <input asp-for="IdDiscapacidad" class="form-control" />
                <span asp-validation-for="IdDiscapacidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAlergia" class="control-label"></label>
                <input asp-for="IdAlergia" class="form-control" />
                <span asp-validation-for="IdAlergia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEnfermedad" class="control-label"></label>
                <input asp-for="IdEnfermedad" class="form-control" />
                <span asp-validation-for="IdEnfermedad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTratamiento" class="control-label"></label>
                <input asp-for="IdTratamiento" class="form-control" />
                <span asp-validation-for="IdTratamiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAlergiaNavigationId" class="control-label"></label>
                <select asp-for="IdAlergiaNavigationId" class="form-control" asp-items="ViewBag.IdAlergiaNavigationId"></select>
                <span asp-validation-for="IdAlergiaNavigationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdDiscapacidadNavigationId" class="control-label"></label>
                <select asp-for="IdDiscapacidadNavigationId" class="form-control" asp-items="ViewBag.IdDiscapacidadNavigationId"></select>
                <span asp-validation-for="IdDiscapacidadNavigationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEnfermedadNavigationId" class="control-label"></label>
                <select asp-for="IdEnfermedadNavigationId" class="form-control" asp-items="ViewBag.IdEnfermedadNavigationId"></select>
                <span asp-validation-for="IdEnfermedadNavigationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPacienteNavigationId" class="control-label"></label>
                <select asp-for="IdPacienteNavigationId" class="form-control" asp-items="ViewBag.IdPacienteNavigationId"></select>
                <span asp-validation-for="IdPacienteNavigationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTratamientoNavigationId" class="control-label"></label>
                <select asp-for="IdTratamientoNavigationId" class="form-control" asp-items="ViewBag.IdTratamientoNavigationId"></select>
                <span asp-validation-for="IdTratamientoNavigationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CitasId" class="control-label"></label>
                <select asp-for="CitasId" class="form-control" asp-items="ViewBag.CitasId"></select>
                <span asp-validation-for="CitasId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
